#root,
html,
body {
  height: 100%;
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-image: url(https://img.freepik.com/fotos-gratis/um-fundo-suave-com-desfoque-de-gradiente-vintage-com-um-poco-em-cor-pastel-usado-como-estudio-apresentacao-de-produto-e-banner_1258-70686.jpg);
  background-size: cover;
}

.container {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

input {
  padding: 15px;
  font: 12px arial, verdana, helvetica, sans-serif;
  border-collapse: collapse;
  color: #009900;
}
button {
  margin: 30px;
}
@media only screen and (max-width: 513px) {
  .App, .container {
    height: 50%;
    width: 50%;
  }
}

@media only screen and (max-width: 1400px) {
  .App {
    height: 100%;
    width: 100%;
  }
}
